:root { --brand-color: #2196F3; 
    --main-color: #212121;
}

.logo-web {
    color:var(--brand-color);
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    list-style: none;
}
.logo-studio {
    color: #000000;
    font-family: "Raleway"; 
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    list-style: none;
}

.items .item {
    color:var(--main-color);
font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42px;
    letter-spacing: 0.02em;
    
}
.items .item:hover {
    color: #F5F5F5; 
    background-color: var(--brand-color);
 }
.items .item:focus {
    color: #F5F5F5; 
    background-color: var(--brand-color); 
}

.adress-header .adress-item {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
}

.adress-header .adress-item:hover {
    color: var(--brand-color);
}
.adress-header .adress-item:focus {
    color: var(--brand-color);
}
body {
    color: var(--main-color);
    font-family: "Roboto";
    sans-serif;
}
.slogan {color: #FFFFFF; 
    background-color:
    #2F303A; 
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.item-text {
    color: #F5F4FA;
    background-color: var(--brand-color);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.item-text:hover {
    color: var(--brand-color);
    background-color: #FFFFFF;
}
.item-text:focus {
    color: var(--brand-color);
    background-color: #FFFFFF;
}
.list-style {
    list-style: none;
}

.list {
    text-decoration: none;
}
.caption {
    color: var(--main-color);
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
}
.text {
    color: #757575;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
}
.subtitle {
    color: var(--main-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
}
.submite-text {
    color:var(--main-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
}
 .headline {
    color: var(--main-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
}
 .headline-text {
    color: #757575; 
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    
}

button {
    font-family: inherit;
}

.item {
    color: var(--main-color);
    background-color: #F5F4FA;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
}

.item:hover {
    color: #FFFFFF;
    background-color: var(--brand-color);
}

.item:focus {
    color: #FFFFFF;
    background-color: var(--brand-color);
}
.filter .filter-item { 
    color: var(--main-color);
    background-color: 
    #F5F4FA; 
    cursor: pointer;
    font-size: 16px;
    line-height: 2.1;
    text-align: center;
    letter-spacing: 0.03em;
   
}

.filter .filter-item:hover {
    color: #FFFFFF;
     background-color: var(--brand-color);
}
.filter .filter-item:focus {
    color: #FFFFFF; 
    background-color: var(--brand-color);
}
.info .info-title {
    color: var(--main-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
    list-style: none;
}
.info .info-text {
    color: #757575;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
    
.item-adress {
    color: #FFFFFF;
    background: #2F303A;
    font-style: normal;
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
}
.item-mail {
    color: #FFFFFF;
    background: #2F303A;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
}
    
.item-tel {
    color: #FFFFFF;
    background: #2F303A;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
}